i.icon:before{
    content: '';
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    margin-right: 8px;
    background-size: cover;
}
.icon.lang:before{
    background-image: url('/img/icons/dark/lang.svg');
}
.icon.expand-arrow:before{
    background-image: url('/img/icons/dark/arrow-down.svg');
}
.icon.search:before{
    background-image: url('/img/icons/dark/search.svg');
}
.icon.shopping-bag:before{
    background-image: url('/img/icons/dark/shopping-bag.webp');
}
.icon.add-to-cart:before{
    background-image: url('/img/icons/dark/add-to-cart.webp');
}
.icon.added-to-cart:before{
    background-image: url('/img/icons/dark/added-to-cart.webp');
}
