/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

@media only screen and (max-width: 640px) {
    *{
        font-size: 12px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
    *{
        font-size: 12px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    *{
        font-size: 12px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 1281px) {
    *{
        font-size: 16px;
    }
}

h1{

}
h2{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
}
h4{
    font-size: 1.375em;
}
h5{
    font-size: 1.25em;
}
h5.caps{
    text-transform: uppercase;
}
p.p16{
    font-size: 1em;
}
p.p14{
    font-size: 0.8125em;
}
p.p10{
    font-size: 0.625em;
}
.book-title{
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
}
.book-author{
    font-size: 1em;
    font-weight: bold;
}
.book-translator{
    font-size: 0.8125em;
}


a{
    text-decoration: none;
    color: black;
}

.clickable{
    transition: all 100ms ease-in-out;
}

.clickable:hover{
    transform: scale(95%);
}



.border-guide-1{
    border: solid;
    border-width: 2px;
    border-color: orange;
}
.border-guide-2{
    border: solid;
    border-width: 2px;
    border-color: red;
}
