 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    /* padding-left: 1.5em;
    padding-right: 1.5em; */
}

main{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

@media only screen and (max-width: 640px) {
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    *{
        font-size: 16px;
    }
}
@media only screen and (min-width: 1281px) {
    *{
        font-size: 16px;
    }
}

h1{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
}
h4{
    font-size: 1.375em;
}
h5{
    font-size: 1.125em;
}
h5.caps{
    text-transform: uppercase;
}
p.p18{
    font-size: 1.125em;
}
p.p16{
    font-size: 1em;
}
p.p14{
    font-size: 0.8125em;
}
p.p12{
    font-size: 0.75em;
}
p.p10{
    font-size: 0.625em;
}
.book-title{
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
}
.book-author{
    font-size: 1em;
    font-weight: bold;
}
.book-translator{
    font-size: 0.85em;
}


a{
    text-decoration: none;
    color: black;
}

.clickable{
    transition: all 100ms ease-in-out;
}

.clickable:hover{
    transform: scale(95%);
}



/* label{
    font-size: 1em;
}
input{
    font-size: 1em;
} */

.navigation-button{
    border: solid;
    border-color: #484848;
    border-width: 1px;
    border-radius: 2px;

    padding: 0.25em 0.5em;
}

.rtl-wrapper{
    direction: rtl;
}


.border-guide-1{
    border: solid;
    border-width: 2px;
    border-color: orange;
}
.border-guide-2{
    border: solid;
    border-width: 2px;
    border-color: red;
}



.searchBar {
    position: relative;
}

.searchBar::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 5px;
    width: 25px;
    background-image: url("/img/icons/dark/search.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
.searchBar input[name="search_term"] {
    padding-left: 40px;
    position: relative;
    max-width: 200px;
}