.logo {
    font-size: 45px;
    text-decoration: none;
    color: black;
}

#main-footer {
    background-color: #292828;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;

    color: white;
}

#main-footer a{
    color: white;
}
