#admin-nav {
    display: flex;
    justify-content: space-between;
}
#admin-nav #logo {
    font-size: 45px;
    text-decoration: none;
    color: black;
}
#admin-nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
#admin-nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s;
}
#admin-nav a:hover,
#admin-nav a.active {
    background-color: #ccc;
    transition: .3s;
}