table {
    width: 100%;
}
th, td {
    text-align: start;
    padding: 10px 20px;

    /* border: solid;
    border-color: red;
    border-width: 2px; */
}
th {
    /* background-color: #66f; */
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 1px
}
tr:nth-of-type(even) > td {
    background-color: #F8FAFC;
}
tr:nth-of-type(odd) > td {
    background-color: #fff;
}
