/* .body {
    padding-left: 6.75em;
    padding-right: 6.75em;
} */

.book {
    /* width: 61%; */
    /* min-width: 54.5em; */
    /* width: 54.5em; */
    /* height: max-content; */
    /* min-height: calc(350px + 5em); */

    padding-top: 1em;
    padding-bottom: 1em;

    margin-left: auto;
    margin-right: auto;
}

.book-detail .cover{
    /* max-height: 28em; */
    width: 100%;
    height: auto;

    /* padding-top: calc(100% / 1.5); */
}

.book-detail .cover img{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}

.book-image{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    width: auto;
    height: 100%;

    /* background-image: url("{{ asset('img/books/' . $book['image']) }}"); */
    background-repeat:no-repeat;
    background-size: cover;



    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}

.details{
    max-width: 70%;

}

.sample{
    align-items: baseline;

    width: fit-content;
}

/* .add-to-cart{
    display: flex;
    flex-direction: row;
    justify-content: left;
} */

/* .add-to-cart input{
    width: 4.5em;

    padding: 0em 0em 0em 0.375em;

    margin-right: 0.625em;
} */

.add-to-cart button{
    background: #6EB37C;

    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.add-to-cart button:hover{
    background: #E6CE76;
    transition: 100ms ease-in-out;
}

.details h2{
    font-size: 1.5em;
    font-weight: bold;
}

.details h5 {
    font-size: 1em;
    font-weight: normal;
}

.details p {
    font-size: 0.875em;
    text-align: justify;
    text-justify: auto;
}

.collab {
    width: 100%;
    /* min-width: 54.5em; */
    /* width: 54.5em; */
    height: max-content;

    padding-top: 1em;
    padding-bottom: 1em;

    margin: auto;
}
/* .collab .info{
    width: 80%;
} */

/* .collab .pic{
    height: auto;
} */

.collab img {
    /* min-width: 13.5em;
    max-width: 18em; */

    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: -3px 4px 8px 1px rgba(0, 0, 0, 0.205);
}



.related-book{

}

.related-book .cover{
    /* max-height: 28em; */
    width: 100%;
    height: auto;

    /* padding-top: calc(100% / 1.5); */
}

.related-book .cover img{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */

    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}


small{

}
small a{
    font-size: 100%;
}
