.body {
    padding-left: 6.75em;
    padding-right: 6.75em;
}

.collaborator {
    padding-top: 1em;
    padding-bottom: 1em;

    margin-left: auto;
    margin-right: auto;
}

.collaborator .cover{
    width: 100%;
    height: auto;
}

.collaborator .cover img{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}

.collaborator .details{
    min-width: 84.5%;
}

.book{

}

.book .cover{
    /* max-height: 28em; */
    width: 100%;
    height: auto;

    /* padding-top: calc(100% / 1.5); */
}

.book .cover img{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */

    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}
