.body {
    padding-left: 6.6%;
    padding-right: 6.6%;

    min-height: 85vh;
}

.cover img{
    border: solid;
    border-color: #00000060;
    border-width: 0.4px;

    max-width: 13.375em;
    max-height: 13.375em;
    object-fit: cover;

    box-shadow: -6px 7px 10.6px 1px rgba(0, 0, 0, 0.3);
}
